@import url('https://fonts.googleapis.com/css2?family=Nunito&amp;display=swap');

body, html {
    margin:0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #2e2e2e; /* Background color, replace with your desired color code */
}

#image {
    width: 100%;
    height: 15vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 5%;
}

#buttons-container {
        margin-top: 2vw;
}

#socials-container img {
    height:30px;
    margin-right: 0.5vw;
}

#header {
    background-color: rgba(20,20,20, 0.7);
    width:60vw;;
    padding: 4%;
    border-radius: 30px;
    height: 30px;
}

.section {
    background-color: rgba(20,20,20, 0.7);
    width:60vw;;
    padding: 4%;
    margin-top: 5vh;
    border-radius: 30px;
}

.card {
    width: 90%;
    background-color: rgba(20,20,20,0.5);
    padding: 0.5vw 1vw 0.8vw 0.8vw;
    border-radius: 15px;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 4fr 4fr;
    gap: 10px;
}

h1 {
    font-size: 3vw;
    line-height: 30px;
    margin-top: -35px;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color */
}

button {
    background-color: #8b51fe;
    width: 10vw;
    color: whitesmoke;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5vw 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4vw;
    margin-right: 2vw;
}
